

.section-about-me{
  padding: 0px 40px;
}

.section-about-me h1{
  font-weight: 600;
  margin-top: 120px;
}

.section-about-me p{
  margin-bottom: -100px;

  
}


.skills img{
  height: 50px;
  margin-bottom: 20px;
  margin-top: 0px;
}
.skills img:hover{
  transform: scale(1.5)
}



@media only screen and (min-width: 992px) {
  .section-about-me{
    width: 80%;
    margin-left: 20%;
    text-align: center;
    padding: 0px 50px;
    
  }

  .section-about-me h1{
    font-weight: 600;
    margin-top: 120px;
    
  }
  
  .section-about-me p{
    font-size: 20px;
    color :black;
    padding: 0px 100px;
    width: 80%;
    margin: 20px auto -80px;
    
  }
  

  .skills img{
    height: 120px;
    margin-bottom: 20px;
    margin-top: 10px;
  }
  .skills img:hover{
    transform: scale(1.5)
  }
  
 
  

}