.section-certificate {
  padding: 0px 40px;
  margin-left: 0%;
  display: flex;
  justify-content: center;
  align-items: center;
  
}
.section-certificate h1 {
  text-align: start;
  font-weight: 600;
  margin-top: 120px;
  color: rgb(0, 0, 0);
  
}
.section-certificate p {
  text-align: start;
  margin-top: 20px;
  color: rgb(0, 0, 0);
  font-size: 20px;
  
}

.certificado {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 20px;
  height: 35vh;
  padding: 0px;

}

.certificado img {
  height: 30vh;
 border: 1px solid black;
 transition: all 0.2s ease;
}
.certificado img:hover{
 transform: scale(1.1);
}



@media only screen and (min-width: 992px) {
  .section-certificate {
    padding:  0px 50px;
    width: 80%;
    margin-left: 20%;
    text-align: center;

  }
  .section-certificate h1 {
    text-align: center;
    font-weight: 600;
    margin-top: 120px;
    width: 100%;
    
    

  }
  .section-certificate p{
    font-size: 20px;
    color :black;
    padding: 0px 100px;
    width: 80%;
    margin: 20px auto;
    text-align: center;
  }

  

 /*  .certificado {
  
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 50px;
    overflow: hidden;
    height: 50vh;
    padding: 0px 0px;
    background-color: red;

    
  } */

  .certificado img {
    height: 30vh;
    width: auto;
    margin: auto;
    
  }
  
  .certificado img:hover {
    height: 40vh;
  
    transform: scale(1);
  }
  
}

