.section-certificate {
  padding: 0px 40px;
  width: 100%;
  height: 100%;
  margin-left: 0%;
  display: flex;
  justify-content: center;
  align-items: center;
  
}
.section-certificate h1 {
  text-align: start;
  font-weight: 600;
  margin-top: 120px;
  color: rgb(0, 0, 0);
  text-transform: uppercase;
}
.section-certificate p {
  text-align: start;
  margin-top: 20px;
  color: rgb(0, 0, 0);
  font-size: 20px;
  
}

.certificado {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  height: 40vh;
  padding: 0px 0px;

  
}

.certificado img {
  height: 30vh;
 border: 1px solid black;
}
.certificado img:hover{
  height: 30vh;
 border: 1px solid black;
 transform: scale(1.1);
}



@media only screen and (min-width: 992px) {
  .section-certificate {
    width: 80%;
    height: auto;
    margin-left: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
  }
  .section-certificate h1 {
    text-align: center;
    font-weight: 600;
    margin-top: 100px;
    color: rgb(0, 0, 0);
    

  }
  .section-certificate p{
    text-align: center;
    margin-top: 50px;
    color: rgb(0, 0, 0);
    font-size: 20px;
    

  }

  .certificado {
  
    display: flex;
    justify-content: center;
    margin-top: 50px;
    overflow: hidden;
    height: 50vh;
    padding: 0px 0px;

    
  }

  .certificado img {
    margin-top: 100px;
    height: 30vh;
    
  }
  
  .certificado img:hover {
    height: 30vh;
  
    transform: scale(1.5);
  }
  
}
