:root {
  --bg-blue-dark: rgb(4, 12, 24);
  --button-color: rgb(6, 209, 209);
}

.section-projects {
  padding: 0px;
  margin: 0;
  padding: 0px 40px;
}
.section-projects h1 {
  text-align: start;
  margin-top: 120px;
  font-weight: 600;
  padding: 0px ;
 
}

.section-projects p {
  text-align: start;
  padding: 0px ;
}

/************* Section CARD ***********/

.section-card {
  width: 200px;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  
}
/* .containerr {
  width: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  background-color: red;
}
 */
  /* .containerr .newCard {
    position: relative;
    cursor: pointer;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
  }
 */
.containerr .newCard .face {
  width: 300px;
  height: 200px;
  transition: 0.5s;
  opacity: 1;

}

.containerr .newCard .face.face1 {
  position: relative;
  background: #f1efef;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  transform: translateY(100px);
  overflow: hidden;
}

.containerr .newCard:hover .face.face1 {
  transform: translateY(0);
}

.containerr .newCard:hover .face.face1 .content {
  opacity: 1;
}

/* .containerr .newCard .face.face1 .content h3 {
  margin: 10px 0 0;
  padding: 0;
  color: #39f339;
  text-align: center;
  font-size: 1.5em;
} */

.containerr .newCard .face.face2 {
  position: relative;
  background: #fcfcfc;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  box-sizing: border-box;
  box-shadow: 0 20px 50px rgba(0, 0, 0, 0.8);
  transform: translateY(-100px);
  
  

}

.containerr .newCard:hover .face.face2 {
  transform: translateY(0);
}

.containerr .newCard .face.face2 .content h3 {
  text-align: center;
  font-weight: 600;
  color: black;
  padding: 0px 20px;
  border-bottom: 1px solid rgb(51, 30, 30);
}
.containerr .newCard .face.face2 .content .buttons {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.containerr .newCard .face.face2 .content a {
  margin: 15px 5px;
  display: inline-block;
  text-decoration: none;
  font-weight: 600;
  color: white;
  padding: 10px;
  background-color: var(--button-color);
  text-align: center;
  border-radius: 30px;
  width: 100px;
}

.containerr .newCard .face.face2 .content a:hover {
  background-color: var(--bg-blue-dark);
  color: #fdfdfd;
}

/**************************** projects-img ************************************************/

.containerr .newCard .face.face1 .advice {
  opacity: 1;
  transition: 0.5s;
  background-image: url(../images/projects//advices_generator.png);
  background-size: contain;
  background-position: center;
  height: 100%;
  width: 100%;
}
.containerr .newCard .face.face1 .time-tracking {
  opacity: 1;
  transition: 0.5s;
  background-image: url(../images/projects/time_tracking_dashboard.png);
  background-size: contain;
  background-position: center;
  height: 100%;
  width: 100%;
}
.containerr .newCard .face.face1 .tip-calculator {
  opacity: 1;
  transition: 0.5s;
  background-image: url(../images/projects/tip_calculator.png);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
}
.containerr .newCard .face.face1 .blogr {
  opacity: 1;
  transition: 0.5s;
  background-image: url(../images/projects/blogr.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
}
.containerr .newCard .face.face1 .sunnyside {
  opacity: 1;
  transition: 0.5s;
  background-image: url(../images/projects/sunnyside_agency_landing_page.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
}
.containerr .newCard .face.face1 .expense_chart_component {
  opacity: 1;
  transition: 0.5s;
  background-image: url(../images/projects/expense_chart_component.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
}
.containerr .newCard .face.face1 .interactive_card_details {
  opacity: 1;
  transition: 0.5s;
  background-image: url(../images/projects/interactive_card_details.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
}
.containerr .newCard .face.face1 .interactive_card_details {
  opacity: 1;
  transition: 0.5s;
  background-image: url(../images/projects/interactive_card_details.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
}
.containerr .newCard .face.face1 .notification-page {
  opacity: 1;
  transition: 0.5s;
  background-image: url(../images/projects/notification-page.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
}
.containerr .newCard .face.face1 .new_homepage {
  opacity: 1;
  transition: 0.5s;
  background-image: url(../images/projects/new_homepage.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
}
.containerr .newCard .face.face1 .new_homepage {
  opacity: 1;
  transition: 0.5s;
  background-image: url(../images/projects/new_homepage.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
}
.containerr .newCard .face.face1 .simple_landinpage {
  opacity: 1;
  transition: 0.5s;
  background-image: url(../images/projects/simple_landinpage.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
}
.containerr .newCard .face.face1 .intro_section_with_dropdown_navigation {
  opacity: 1;
  transition: 0.5s;
  background-image: url(../images/projects/intro_section_with_dropdown_navigation.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
}
.containerr .newCard .face.face1 .page_with_form {
  opacity: 1;
  transition: 0.5s;
  background-image: url(../images/projects/page_with_form.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
}
.containerr .newCard .face.face1 .four_card_feature_section {
  opacity: 1;
  transition: 0.5s;
  background-image: url(../images/projects/four_card_feature_section.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
}
.containerr .newCard .face.face1 .fag {
  opacity: 1;
  transition: 0.5s;
  background-image: url(../images/projects/fag_page.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
}

/**************************** projects-img ************************************************/
.tecnologies {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  font-size: 30px;
  color: var(--bg-blue-dark);
}
.tecnologies .div:nth-child(1):hover {
  color: #191cd3;
}

.react:hover {
  color: #00d8ff;
}
.css:hover {
  color: #2965f1;
}
.html:hover {
  color: #e34c25;
}
.bs:hover {
  color: #a721a0;
}

.js:hover {
  color: #f0dc4e;
}

@media only screen and (min-width: 992px) {
  .section-projects {
    padding:  0px 50px;
    width: 80%;
    margin-left: 20%;
    text-align: center;



  }

  .section-projects h1 {
    text-align: center;
    font-weight: 600;
    margin-top: 120px;
    width: 100%;
    
    
  }
  .section-projects p {
    font-size: 20px;
    color :black;
    padding: 0px 100px;
    width: 80%;
    margin: 20px auto;
    text-align: center;
  }
  .section-card {
    margin-top: 60px;
    width: 50%;
    height: auto;
    display: flex;
    justify-content: center;
    margin-left: 26%;
  }
 /*  .containerr {
    width: 100vw;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
  } */

  .containerr .newCard {
    position: relative;
    cursor: pointer;
    width: 10%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0px auto;
  }

  .containerr .newCard .face {
    width: 300px;
    height: 200px;
    transition: 0.5s;
    opacity: 1;
  }
}

@media only screen and (min-width: 1220px) {
  /*  .section-intro {
    padding:  0px 400px;

  } */
}
